<div class="container">
	<h3><%= @article.title %></h3><br><br>
	<h6 class="adjust-text">Leave your comment</h6>

	<div class="col-md-8">
		<%= text_field_tag :text, nil, class: "form-control article-comment", placeholder: "write your comment", id: "#{@article.id}"%>
	</div><br><br>

	<h5>Comments</h5><br />
	<div class="col-md-8">
	  <div id="article-comments">
	  	<!-- Article Blogs Started -->
			<% @article.comments.each do |comment| %>
				<!-- Comments Appending -->
				<div id="article_comment_<%= comment.id %>">
					<p><%= comment.text %></p>
					<div class="reply">
						<a href="javascript:void(0)" class="comment_reply_link" data-commentid="<%= comment.id %>">Reply</a>
					</div>
				</div>
				<!-- Reply Form -->
				<div class="col-md-8" id="comment_reply_<%= comment.id %>" style="display: none;">
					<br>
					<%= text_field_tag :text, nil, class: "form-control comment-reply", placeholder: "write your reply", id: "#{comment.id}"%><br>
					<h5> Replies </h5>
					<!-- Replies Appending -->
					<div id="default_comment_reply"><%= render "replies/replies", comment: comment %></div>
					<div id="appended_comment_reply"></div>
				</div>
				<hr>
			<% end %>
		</div>
	</div>
</div>